.git
.github
.pytest_cache
.venv
__pycache__
*.pyc

.env
*.csv
debugpilot.db
debugpilot.db

frontend/node_modules
frontend/dist
frontend/.vite

terraform/**/.terraform
terraform/**/*.tfstate
terraform/**/*.tfstate.backup

memory
